body { 
    background-image: url(https://орфографика.рф/800/600/https/www.wallpapertip.com/wmimgs/67-674584_beige.jpg);
    background-size:contain;
}
.header{
    min-height: 150px;
    margin-bottom: 5px;
}
.head{
    
    background-size: 75%;
    min-height: 120px;
    margin-bottom: 5px;
}
.h_pictures{
    font-size: 35px solid rgb(63, 63, 63);
    padding: 5px;
    min-height: 110px;
    width: 35%;
    float: left;
}
.h_text{
    text-align: center;/*Отображение текста по центру*/
    min-height: 120px;
    width: 39%;
    float: left;
}
.h_search{
    min-height: 120px;
    width: 25%;
    float: right;
}


.menu{
    border: 2px solid #000000;
    min-height: 30px;
    float: left;
    margin-bottom: 5px;
}
.menu *{
    margin: 0;
    padding: 0;
}
.menu ul,
.menu ol{
    list-style: none;
}
.menu > ul{
    display: flex;
    justify-content: 100%;
}
.menu > ul li a{
    display: block;
    padding: 6px 50px;
    color: #222831;
    text-decoration: 0;
    text-transform: uppercase;
}
.menu > ul li {
    position: relative;
}
.content{
    float: left;
    width: 100%;
    display: flex;
    min-height: 720px;
    margin-bottom: 5px;
}
.blog_content{
    width: 100%;
    border:2px solid #222831;
    float: left;
    margin-bottom: 5px;
    margin-right: 10px;
}
.dop_content{
    float: right;
    min-height: 720px;
}
.blog_title{
    float: left;
}
.categoriais{
    border:2px solid #222831;
    float: left;
    min-height: 230px;
    margin-bottom: 5px;
    width: 100%;
}
.delicious{
    border:2px solid #222831;
    float: left;
    min-height: 230px;
    margin-bottom: 10px;
    width: 100%;
}
.img_content{
    min-height: 230px;
    margin-bottom: 5px;
    float: left;
    width: 100%;
}


.footer{
    width: 100%;
    float: left;
    border:2px solid #222831;
    height: 100px;
    margin-bottom: 5px;
}